
.main{
	background-color: #e3fdff;
	background-size: 100% 100%;
	background-position: center center;
	overflow: auto;
	align-items: center;
	height: 100vh;
	width: 100%;
}
.content{
	display: flex;
	flex-direction: column;
	height: 95%;
}
.contain {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}